nav li:nth-of-type(2) a {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10% 7%;
}

main section {
    padding: 5% 0;
    flex: 1;
    justify-content: space-evenly;
    display: flex;
}

main section div {
    width: 30%;
    display: flex;
    display: table-column;
    justify-content: space-around;
}

main section div img {
    height: calc(30% * 427 / 756);
}

main section p {
    flex: 1;
    margin-left: 5%;
    /* color: #AC6532; */
}

