nav li:nth-of-type(4) a {
    text-decoration: underline;
}

.container{
    height: 100vh;
    gap: 0 3em;
    padding: 2.5rem;
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: minmax(100px, 1fr) minmax(25% 1fr) auto;
    grid-template-areas:
    "   head1   head1      head1"
    "   hard    header     header "
    "   hard    date1      position1"
    "   hard    date2      position2"
    "   soft    date3      position3"
    "   soft    date4      position4"
    "   soft    date5      position5"
    ;
}

.head1 {
    grid-area: head1;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.hardSkills{
    grid-area: hard;
    margin-bottom: 2em;
}

.softSkills{
    grid-area: soft;
}

.cvheader {
    grid-area: header;
}

.date1 {
    grid-area: date1;
}

.position1 {
    grid-area: position1;
}

.date2 {
    grid-area: date2;
}

.position2 {
    grid-area: position2;
}
.date3 {
    grid-area: date3;
}
.position3 {
    grid-area: position3;
}

.date4 {
    grid-area: date4;
}

.position4 {
    grid-area: position4;
}
.date5 {
    grid-area: date5;
}

.position5 {
    grid-area: position5;
}

h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1em;
}

h3 {
    font-weight: 600;
    text-transform: uppercase;
}


.company {
    font-style: italic;
    display: inline;
    justify-content: end;
    font-size: smaller;
}

.description {
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-size: smaller;
}

.roleHeadIKEA {
    display: block;
    margin-bottom: 1em;
}

.date {
    font-style: italic;
    font-size: smaller;
}

.date1 {
    display: block;
}

main ul {
    border-color: #493222;
    border-style: solid;
    border-width: 1px ;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    padding: 1em 0.5em;
    font-size: small;
}


.softSkills ul li div {
    position: relative;
    display: flex;
    background-color: #496977;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 1em;
    margin: 1em 0 2em 0;
}

.barSwedish {
    width: 100%;
}

.barEnglish {
    width: 80%;
}

.barFrench {
    width: 40%;
}

.barSpanish {
    width: 30%;
}

@media screen and (max-width: 720px){
    .container {
        grid-template-rows: repeat(12, auto);
        grid-template-columns: 1.25fr auto;
        grid-template-areas:
                "   head1   head1       "
                "   hard    header      "
                "   hard    date1       "
                "   hard    position1   "
                "   hard    date2       "
                "   hard    position2   "
                "   hard    date3       "
                "   soft    position3   "
                "   soft    date4       "
                "   soft    position4   "
                "   soft    date5       "
                "   soft    position5   "
            ;
    }
    .date {
        margin-bottom: 0.5em;
    }
    .date1 p {
        display: inline;
    }
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-rows: repeat(13, auto);
        grid-template-columns: auto;
        grid-template-areas:
            "   head1       "
            "   header      "
            "   date1       "
            "   position1   "
            "   date2       "
            "   position2   "
            "   date3       "
            "   position3   "
            "   date4       "
            "   position4   "
            "   date5       "
            "   position5   "
            "   hard        "
            "   soft        "
        ;
    }

    .date {
        margin-bottom: 0.5em;
    }

    .date1 p {
        display: inline;
    }
}